<div class="page-header">
  <h3><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Editar Dados do Cliente</h3>
</div>

<%= render 'form' %>

<%= button_to 'Voltar', :back, :class => "btn btn-default", :method => :get %>
