<h3><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Editar Dados do Cliente</h3>

<%= render 'form' %>

<%= button_to 'Voltar', cliente_path, :class => "btn btn-default", :method => :get %>
