<% total_salarios = 0 %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome do Professor</th>
      <th>Nº Aulas</th>
      <th>Salário</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @folha_pagamento.each do |professor| %>
      <tr>
        <td><%= Professor.find(professor.professor_id).nome %></td>
        <td><%= professor.n_aulas %></td>
        <td><%= number_to_currency(professor.salario) %></td>
      </tr>
      <% total_salarios += professor.salario %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td><b>Total:</b></td>
      <td><b><%= number_to_currency(total_salarios) %></b></td>
    </tr>
  </tfoot>
</table>