<div class="col-md-8" style="background-color:#F5F0EB;border: 1px solid;">
  <center><h4><b>Novas Notificações</b></h4></center>
</div>
<div class="col-md-4" align="center" style="background-color:#EBD7C5;border: 1px solid;"><h4><b>Agenda de Eventos</b></h4></div>
<div class="col-md-8">
  <center>
  <% @notificacoes.each do |notificacao| %>
    <% unless notificacao.visualizado %>
      <p><%= link_to notificacao.conteudo, {:controller => "funcionalidades", :action => "notificacao_lida", :id => notificacao.id}, id: "notificacao#{notificacao.id}", :remote => true %></p>
      <% content_for :js do%>
        $('#notificacao<%= notificacao.id %> ').bind('ajax:success', function(){
          $('#notificacao<%= notificacao.id %> ').remove();
        });
      <% end %>
    <% end %>
  <% end %>
  </center>
</div>

