/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


/* line 5, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/main.css.scss */
.navbar-custom {
  background-color: #0088cc;
  border-color: #0070a0;
}
/* line 8, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/main.css.scss */
.navbar-custom .navbar-brand {
  color: #ecf0f1;
}
/* line 10, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/main.css.scss */
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
  color: #08313f;
}
/* line 12, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/main.css.scss */
.navbar-custom .navbar-text {
  color: #ecf0f1;
}
/* line 16, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/main.css.scss */
.navbar-custom .navbar-nav > li > a {
  color: #ecf0f1;
  background-color: #0088cc;
}
/* line 19, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/main.css.scss */
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
  color: #08313f;
}
/* line 22, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/main.css.scss */
.navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus {
  color: #ecf0f1;
  background-color: #0070a0;
}
/* line 26, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/main.css.scss */
.navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
  color: #08313f;
  background-color: #0070a0;
}
/* line 29, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/main.css.scss */
.navbar-custom .navbar-nav > .open > .dropdown-menu {
  background-color: #0088cc;
}
/* line 31, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/main.css.scss */
.navbar-custom .navbar-nav > .open > .dropdown-menu > li > a {
  color: #ecf0f1;
}
/* line 33, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/main.css.scss */
.navbar-custom .navbar-nav > .open > .dropdown-menu > li > a:hover, .navbar-custom .navbar-nav > .open > .dropdown-menu > li > a:focus {
  color: #08313f;
}
/* line 38, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/main.css.scss */
.navbar-custom .navbar-toggle {
  border-color: #0070a0;
}
/* line 40, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/main.css.scss */
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #0070a0;
}
/* line 42, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/main.css.scss */
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
/* line 45, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/main.css.scss */
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #ecf0f1;
}
/* line 47, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/main.css.scss */
.navbar-custom .navbar-link {
  color: #ecf0f1;
}
/* line 49, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/main.css.scss */
.navbar-custom .navbar-link:hover {
  color: #08313f;
}

@media (max-width: 999px) {
  /* line 55, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/main.css.scss */
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  /* line 57, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/main.css.scss */
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #08313f;
  }
  /* line 60, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/main.css.scss */
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #08313f;
    background-color: #0070a0;
  }
}
/* line 1, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, D:/RailsApps/conservatoriohvl/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
