<% if request.env["HTTP_REFERER"].include? "/horarios" %>
  <h2>Atribuir Sala</h2>
  <%= render 'sala_form' %>
<% else %>
  <h2>Editar Dados do Horário</h2>
  <%= render 'form' %>
<% end %>

<%= button_to 'Voltar', :back, :class => "btn btn-default", :method => :get  %>
