<h1>Editar Dados do Horário</h1>

<% if request.env["HTTP_REFERER"] == "http://localhost:3000/horarios" %>
  <%= render 'sala_form' %>
<% else %>
  <%= render 'form' %>
<% end %>

<%= button_to 'Voltar', :back, :class => "btn btn-default", :method => :get  %>
