<% if request.env["HTTP_REFERER"].include? "/horarios" %>
  <div class="page-header">
    <h2>Atribuir Sala</h2>
  </div>
  <%= render 'sala_form' %>
<% else %>
  <div class="page-header">
    <h2>Editar Dados do Horário</h2>
  </div>
  <%= render 'form' %>
<% end %>

<%= button_to 'Voltar', :back, :class => "btn btn-primary", :method => :get  %>
