<div class="page-header">
  <h2>Cadastrar Novo Horário</h2>
</div>

<%= render 'form' %>

<%= button_to 'Voltar', controlar_horarios_path(id: params[:professor_id]), :class => "btn btn-default", :method => :get  %>
