<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> <b><%= @horario.horario%></h3>
  </div>
<%= button_to 'Editar', edit_horario_path(@horario), :class => "btn btn-default", :method => :get  %>
<%= button_to 'Voltar', professores_path, :class => "btn btn-default", :method => :get  %>
