<p id="notice"><%= notice %></p>

<p>
  <strong>Disponibilidade:</strong>
  <%= @disponibilidade.horario %>
</p>

<%= link_to 'Edit', edit_disponibilidade_path(@disponbilidade) %> |
<%= link_to 'Back', disponibilidades_path %>
