<p id="notice"><%= notice %></p>

<h3><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Editar Dados do Aluno</h3>

<%= render 'form' %>

<%= link_to 'Show', @aluno %> |
<%= link_to 'Back', aluno_path %>
