<h1><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Editar Dados do Aluno</h1>

<%= render 'form' %>

<%= button_to 'Voltar', aluno_path, :class => "btn btn-default", :method => :get %>
