<div class="page-header">
  <h2><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Editar Dados do Curso</h2>
</div>

<%= render 'form' %>

<%= button_to 'Voltar', curso_path, :class => "btn btn-default", :method => :get %>
