<div class="page-header">
  <h1>Relatório - Folha de Pagamento</h1>
</div>
  
<div class="form-inline">
  <div class="form-group">
    <label for="folhapagamento_mes">Mês:</label>
    <%= collection_select(:folhapagamento, :mes, @meses, :to_s, :to_s, { prompt: 'Selecione o mês...' }, class: "form-control")%>
  </div>
  <div class="form-group">
    <label for="folhapagamento_ano">Ano:</label>
    <%= collection_select(:folhapagamento, :ano, @anos.uniq, :to_s, :to_s, { prompt: 'Selecione o mês...' }, class: "form-control")%>
  </div>
  <div class="form-group">
    <button id="folha_button" class="btn btn-primary btn-sm" disabled="true">Visualizar</button>
  </div>
</div>
<br>
<div id = "conteudo">
</div>