$('#professor_id').empty();
$('#professor_id').append( $('<option value>Selecione um professor</option>'));
<% if @professores.where(ativo: true).any? %>
	<% @professores.where(ativo: true).each do |professor| %>
	  $('#professor_id').append($('<option value="<%= professor.id %>"><%= professor.nome %></option>'));
	<% end %>
<% else %>
	$('#professor_id').empty();
	$('#professor_id').append( $('<option value>Não há professores cadastrados para este curso</option>'));
<% end %>