$('#matricula_ano').empty();
$('#matricula_ano').append( $('<option value>Selecione o ano</option>'));
<% for i in 1..@curso.anos %>
	$('#matricula_ano').append($('<option value="<%= i %>"><%= i %>ยบ Ano</option>'));
<% end %>
if ($('#tipo_teoria').length) 
	$('#matricula_valor_mensal').val("<%= @curso.valor %>")
