<h2><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Editar Dados da Matrícula</h2>

<% if @matricula.valor_mensal == 195 %>

<%= render 'form_extra' %>

<% else %>

<%= render 'form' %>

<% end %>

<%= button_to 'Back', matricula_path, :class => "btn btn-default", :method => :get  %>
