<div class="page-header">
  <h2><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Editar Dados da Matrícula</h2>
</div>

<% if @matricula.valor_mensal == 195 %>

<%= render 'form_extra' %>

<% else %>

<%= render 'form' %>

<% end %>

<%= button_to 'Voltar', matricula_path, :class => "btn btn-primary", :method => :get  %>
