<h1><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Editar Dados da Matrícula</h1>

<%= render 'form' %>

<%= button_to 'Back', matricula_path, :class => "btn btn-default", :method => :get  %>
