$bgDefault      : #0088cc;
$bgHighlight    : #0070a0;
$colDefault     : #ecf0f1;
$colHighlight   : #08313F;
.navbar-custom {
	background-color: $bgDefault;
	border-color: $bgHighlight;
	.navbar-brand {
		color: $colDefault;
		&:hover, &:focus { 
			color: $colHighlight; }}
	.navbar-text {
		color: $colDefault; }
	.navbar-nav {
		> li {
			> a {
				color: $colDefault;
				background-color: $bgDefault; 
				&:hover,  &:focus {
					color: $colHighlight; }}}
		> .active {
			> a, > a:hover, > a:focus {
				color: $colDefault;
				background-color: $bgHighlight; }}
		> .open {
			> a, > a:hover, > a:focus {
				color: $colHighlight;
				background-color: $bgHighlight; }
			> .dropdown-menu {
    				background-color: $bgDefault;
     				> li > a {
    					color: $colDefault;
    					&:hover, &:focus {
							color: $colHighlight; }}
			}
		}
	}
	.navbar-toggle {
		border-color: $bgHighlight;
		&:hover, &:focus {
			background-color: $bgHighlight; }
		.icon-bar {
			background-color: $colDefault; }}
	.navbar-collapse,
	.navbar-form {
		border-color: $colDefault; }
	.navbar-link {
		color: $colDefault;
		&:hover {
			color: $colHighlight; }}
}

@media (max-width: 999px) {
	.navbar-custom .navbar-nav .open .dropdown-menu {
		> li > a {
			color: $colDefault;
			&:hover, &:focus {
				color: $colHighlight; }}
		> .active {
			> a, > a:hover, > a:focus, {
				color: $colHighlight;
				background-color: $bgHighlight; }}

	}
}