<div class="page-header"></div>

<div class="jumbotron">
  <h2>Bem vindo!</h2>
  <p>Para iniciar a navegação no sistema, efetue a autenticação clicando abaixo.</p>
  <p><%= link_to "Login", :login, {class: "btn btn-primary btn-lg", "role" => "button"} %></p>
</div>