<div class="page-header">
  <h1>Autenticação</h1>
</div>

<div class="col-sm-5">
<%= render 'form' %>
</div>
<div class="col-sm-10">
  <%= button_to 'Voltar', root_path, :class => "btn btn-default", :method => :get %>
</div>