<div class="page-header">
  <h2><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Editar Dados do Sala</h2>
</div>

<%= render 'form' %>

<%= button_to 'Voltar', sala_path, :class => "btn btn-primary", :method => :get %>
