<h1><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Editar Dados do Sala</h1>

<%= render 'form' %>

<%= button_to 'Voltar', sala_path, :class => "btn btn-default", :method => :get %>
